* {
  margin: 0;
  padding: 0;
}

body {
  
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  
}


.anchor {
  color: rgb(107, 0, 0);
  text-decoration: none;
  font-size: 20px;

}

#s5{
color: royalblue;
font-size: 20px;
font-weight: bold;
text-decoration: underline;

}

